// out:../../dest/css/bugless-panel.min.css
.m-panel
    &.left
        left -100%
    &.right
        left 100%
    &.bottom
        top 100%
    &.top
        top -100%
    display none
    overflow scroll
    -webkit-overflow-scrolling touch
    -moz-overflow-scrolling touch
    overflow-scrolling touch
    will-change transform
    position fixed
    left 0
    top 0
    height 100%
    width 100%
    background #9a9a9a

.animate
    transition all .2s linear
